*{margin: 0;padding: 0;}
html{font-size: 20px; font-family: "微软雅黑"}
header{
    width: 16rem;
    height: 2.525rem;
    background: -webkit-linear-gradient(#fcfcfc,#ececec);
    position: relative;
    text-align: center;
    line-height: 2.525rem;
}
header a{
    display: block;
    width: 3.25rem;
    height: 1.6rem;
    background: url("../images/btn.png")no-repeat;
    background-size: 100%;
    text-indent:-999em;
    position: absolute;
    left:0.5rem;
    top:0.5rem;
}
header p{
    font-size: 0.75rem;
}


.address{

}
.address div{
    width: 16rem;
    line-height: 2.2rem;
    overflow: hidden;
    position: relative;
}
.address div .img1{
    width: 0.55rem;
    height: 0.65rem;
    float: left;
    position: absolute;
    left:0.4rem;
    top:50%;
    margin-top: -0.325rem;
}
.address div h2{
    font-size: 0.8rem;
    float: left;
    margin-left: 1.5rem;
}
.address div .img2{
    width: 0.6rem;
    height: 0.6rem;
    float: left;
    position: absolute;
    right:3rem;
    top:50%;
    margin-top: -0.325rem;
}
.address ul li.all{
    font-size: 0.65rem;
    text-indent: 0.4rem;
    line-height:1.5rem;
    background: #eee;
    color: #999999;
}
.address ul li.fen a{
    display: block;
    font-size: 0.75rem;
    text-indent: 1rem;
    line-height:2.175rem;
    border-bottom:0.025rem solid #dedede;
}




































